.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1.5rem;

  border-bottom: 0.15rem solid var(--rose-100);
}

.list-item img {
  display: block;

  width: 4.5rem;
  height: 4.5rem;
  max-height: 100%;

  object-fit: cover ;
  border-radius: 0.5rem;
}

.list-item__left {
  display: flex;
  gap: 1rem;
}

.list-item__product-info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.list-item__product-info p {
  font-size: 1.35rem;
  font-weight: 600;

  color: var(--rose-900);
}

.list-item__quantity-info {
  display: flex;
  align-items: center;

  gap:  2rem;
}

.list-item__quantity {
  font-size: 1.35rem;
  font-weight: 600;

  color: var(--red);
}

.list-item__quantity-total {
  font-size: 1.35rem;

  color: var(--rose-500);
}

.list-item__item-total {
  font-weight: 600;

  color: var(--rose-900);
}
