<aside>
  <h3>Your Cart ({{ cart.length }})</h3>

  <div
    *ngIf="!cart.length"
    class="no-items"
  >
    <img src="/assets/images/illustration-empty-cart.svg" alt="">

    <span>Your added items will appear here</span>
  </div>

  <div
    *ngIf="cart.length > 0"
    class="cart-container"
  >
    <ul>
      <cart-cart-item
        *ngFor="let item of cart"
        [cartItemInfo]="item"
      />
    </ul>

    <div class="cart-total">
      <p>Order Total</p>

      <span>$46.50</span>
    </div>
  </div>

  <div
    *ngIf="cart.length > 0"
    class="carbon-neutral-delivery"
  >
    <img src="/assets/images/icon-carbon-neutral.svg" alt="Icon of a tree">

    <p>
      This is a <b>carbon-neutral</b> delivery
    </p>
  </div>

  <shared-primary-button btnText="Confirm Order" />
</aside>
