<li>
  <figure>
    <img
      class="product-image"
      [src]="product.image.mobile"
    >
    <button
      *ngIf="ofThisProductInCart === 0"
      (click)="onAddToCart(product)"
      class="product-card-button product-card-button--not-selected"
    >
      <img src="/assets/images/icon-add-to-cart.svg">
      <span>Add to Cart</span>
    </button>

    <div
      *ngIf="ofThisProductInCart > 0"
      class="product-card-button product-card-button--selected"
    >
      <button (click)="onRemoveProductOfCart(product.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" fill="none" viewBox="0 0 10 2">
          <path fill="#fff" d="M0 .375h10v1.25H0V.375Z"/>
        </svg>
      </button>

      <span>{{ ofThisProductInCart }}</span>

      <button (click)="onAddToCart(product)">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10">
          <path fill="#fff" d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"/>
        </svg>
      </button>
    </div>
  </figure>

  <div class="product-info">
    <h3 class="product-info__category">{{product.category}}</h3>
    <p class="product-info__name">{{product.name}}</p>
    <span class="product-info__price">${{product.price}}</span>
  </div>
</li>

<ng-container *ngIf="productWasDeleted | async" />
<ng-container *ngIf="cartWasCleared | async" />
