<dialog #orderModal>
  <img
    class="icon-order-confirmed"
    src="./assets/images/icon-order-confirmed.svg"
    alt="Green checkmark that indicates that your order is confirmed"
  >

  <h3>
    Order
    <br>
    Confirmed
  </h3>
  <p class="happy-message">We hope you enjoy your food!</p>

  <div class="items">
    <ul class="items-list">
      <order-order-item *ngFor="let item of cart"
        [cartItem]="item"
      />
    </ul>

    <div class="order-total">
      <p>Order Total</p>

      <span>{{ totalPrice | currency }}</span>
    </div>
  </div>

  <shared-primary-button
    (click)="onStartNewOrder()"
    btnText="Start New Order"
  />
</dialog>
