dialog[open] {
  width: 100%;
  max-width: 100vw;

  height: 85dvh;
  max-height: 100dvh;

  top: 15%;

  display: flex;
  flex-direction: column;
  justify-content: start;

  padding-top: 4rem;
  padding-inline: 2rem;
  padding-bottom: 2rem;

  border-radius: 1rem 1rem 0 0;
  border: none;
}

@media screen and (height >= 740px) {
    dialog[open] {
      justify-content: center;
    }
}

dialog::backdrop {
  opacity: 50%;
  background-color: #000000;
}

.icon-order-confirmed {
  width: 4.8rem;
  height: 4.8rem;
}

h3 {
  margin-top: 2rem;

  font-size: 4rem;
  line-height: 1.25;

  text-wrap: balance;

  color: var(--rose-900);
}

.happy-message {
  margin-top: 0.5rem;

  color: var(--rose-400);
}

.items {
  margin-top: 3rem;
  padding: 2rem 2rem 2.5rem;

  background-color: var(--rose-50);
  border-radius: 1rem;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-height: 235px;

  overflow-y: auto;
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1.5rem;

  border-bottom: 0.15rem solid var(--rose-100);
}

.list-item img {
  display: block;

  width: 4.5rem;
  height: 4.5rem;
  max-height: 100%;

  object-fit: cover ;
  border-radius: 0.5rem;
}

.list-item__left {
  display: flex;
  gap: 1rem;
}

.list-item__product-info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.list-item__product-info p {
  font-size: 1.35rem;
  font-weight: 600;

  color: var(--rose-900);
}

.list-item__quantity-info {
  display: flex;
  align-items: center;

  gap:  2rem;
}

.list-item__quantity {
  font-size: 1.35rem;
  font-weight: 600;

  color: var(--red);
}

.list-item__quantity-total {
  font-size: 1.35rem;

  color: var(--rose-500);
}

.list-item__item-total {
  font-weight: 600;

  color: var(--rose-900);
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2.5rem;
}

.order-total p {
  font-size: 1.45rem;

  color: var(--rose-900);
}

.order-total span {
  font-size: 2.25rem;
  font-weight: 700;

  color: var(--rose-900);
}

shared-primary-button {
  display: block;
  margin-top: 2.75rem;
}

