<dialog>
  <img
    class="icon-order-confirmed"
    src="/assets/images/icon-order-confirmed.svg"
    alt="Green checkmark that indicates that your order is confirmed"
  >

  <h3>
    Order
    <br>
    Confirmed
  </h3>
  <p class="happy-message">We hope you enjoy your food!</p>

  <div class="items">
    <ul class="items-list">
      <li class="list-item">
        <div class="list-item__left">
          <img src="/assets/images/image-waffle-thumbnail.jpg" alt="">

          <div class="list-item__product-info">
            <p>Classic Tiramisu</p>

            <div class="list-item__quantity-info">
              <span class="list-item__quantity">1px</span>

              <span class="list-item__quantity-total">&#64; $720</span>
            </div>
          </div>
        </div>

        <p class="list-item__item-total">$5.50</p>
      </li>

      <li class="list-item">
        <div class="list-item__left">
          <img src="/assets/images/image-waffle-thumbnail.jpg" alt="">

          <div class="list-item__product-info">
            <p>Classic Tiramisu</p>

            <div class="list-item__quantity-info">
              <span class="list-item__quantity">1px</span>

              <span class="list-item__quantity-total">&#64; $720</span>
            </div>
          </div>
        </div>

        <p class="list-item__item-total">$5.50</p>
      </li>

      <li class="list-item">
        <div class="list-item__left">
          <img src="/assets/images/image-waffle-thumbnail.jpg" alt="">

          <div class="list-item__product-info">
            <p>Classic Tiramisu</p>

            <div class="list-item__quantity-info">
              <span class="list-item__quantity">1px</span>

              <span class="list-item__quantity-total">&#64; $720</span>
            </div>
          </div>
        </div>

        <p class="list-item__item-total">$5.50</p>
      </li>

      <li class="list-item">
        <div class="list-item__left">
          <img src="/assets/images/image-waffle-thumbnail.jpg" alt="">

          <div class="list-item__product-info">
            <p>Classic Tiramisu</p>

            <div class="list-item__quantity-info">
              <span class="list-item__quantity">1px</span>

              <span class="list-item__quantity-total">&#64; $720</span>
            </div>
          </div>
        </div>

        <p class="list-item__item-total">$5.50</p>
      </li>

      <li class="list-item">
        <div class="list-item__left">
          <img src="/assets/images/image-waffle-thumbnail.jpg" alt="">

          <div class="list-item__product-info">
            <p>Classic Tiramisu</p>

            <div class="list-item__quantity-info">
              <span class="list-item__quantity">1px</span>

              <span class="list-item__quantity-total">&#64; $720</span>
            </div>
          </div>
        </div>

        <p class="list-item__item-total">$5.50</p>
      </li>

      <li class="list-item">
        <div class="list-item__left">
          <img src="/assets/images/image-waffle-thumbnail.jpg" alt="">

          <div class="list-item__product-info">
            <p>Classic Tiramisu</p>

            <div class="list-item__quantity-info">
              <span class="list-item__quantity">1px</span>

              <span class="list-item__quantity-total">&#64; $720</span>
            </div>
          </div>
        </div>

        <p class="list-item__item-total">$5.50</p>
      </li>
    </ul>

    <div class="order-total">
      <p>Order Total</p>

      <span>$46.50</span>
    </div>
  </div>

  <button>
    Start New Order
  </button>
</dialog>
